* {
  padding: 0px;
  margin: 5px;
  gap: 1%;
  padding-left: 5px;
  padding-top: 3px;
}

body {
  display: flex;
  flex-direction: row;
  height: 95vh;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.containerLabel {
  padding: 0px 8px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(76, 148, 243, 0.3);
  color: black;
}

.imageContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-color: rgb(25, 5, 97);
}

.ImageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(60, 43, 200); /*   rgb(138, 43, 226);*/
  padding: 8px;
  border-radius: 20px;
}

.ImageBtn:hover {
  opacity: 60%;
  cursor: pointer;
}

.Image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

input[type="radio"]:checked{
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  accent-color: rgb(60, 43, 200);
  }

.toolsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.mixedContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MixButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(60, 43, 200); /*   rgb(138, 43, 226);*/
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.MixButton:hover{
  opacity: 60%;
  cursor: pointer;
}