<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../static/style/style.css" />

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <!-- Cropper CSS -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <!-- ------------------------ The First Original Image Container ----------------------- -->
  <div style="width: 30%; display: flex; flex-direction: column;">
    <div class="container">
      <label class="containerLabel">First image</label>
      <div class="imageContainer">
        <img id="FirstImage" class="Image" />
      </div>
      <input id="FirstImageInput" name="input1" type="file" accept="image/*" hidden />
      <label for="FirstImageInput" id="FirstImageBtn" class="ImageBtn">Upload Image 1</label>
    </div>

    <!-- ------------------------ The Second Original Image Container ---------------------- -->
    <div class="container">
      <label class="containerLabel">Second image</label>
      <div class="imageContainer">
        <img id="SecondImage" class="Image" />
      </div>
      <input id="SecondImageInput" name="input2" type="file" accept="image/*" hidden />
      <label for="SecondImageInput" id="SecondImageBtn" class="ImageBtn">Upload Image 2</label>
    </div>
  </div>

  <!-- ------------------------ The First Image Magnitude/Phase ----------------------- -->
  <div class="toolsBox" style="width: 30%;">
    <label class="containerLabel">Mag1 / Phase1</label>
    <div class="imageContainer" id="img1cont">
    </div>
    <!-- ------------------------ The Magnitude/Phase tools ----------------------- -->
    <div style="display: flex;">
      <input type="radio" id="Magnitude" name="FirstImageTools" value="Magnitude" checked>
      <label for="Magnitude">Magnitude</label><br>
      <input type="radio" id="Phase" name="FirstImageTools" value="Phase">
      <label for="Phase">Phase</label>
      <input type="checkbox" id="checkbox" name="outin">
      <label for="checkbox">Outside/Inside</label>

    </div>
    <!-- ------------------------ The Second Image Magnitude/Phase ------------------- -->

    <label class="containerLabel">Mag2 / Phase2</label>
    <div class="imageContainer" id="img2cont">
    </div>
    <!-- ------------------------ The Magnitude/Phase tools ----------------------- -->
    <div style="display: flex;">
      <input type="radio" id="MagnitudeBtn" name="SecondImageTools" value="Magnitude">
      <label for="MagnitudeBtn">Magnitude</label><br>
      <input type="radio" id="PhaseBtn" name="SecondImageTools" value="Phase" checked>
      <label for="PhaseBtn">Phase</label>
    </div>

  </div>

  <!-- ----------------------- The Mixed Image Container -------------------- -->
  <div class="mixedContainer">
    <label class="containerLabel">Mixed image</label>
    <div class="imageContainer">
      <img id="MixedImage" class="Image" />
    </div>
  </div>

  <!-- Cropper JS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
  <script src="../static/script/main.js"></script>

</body>

</html>